<p>reset-password works!</p>
<div class="container mt-5">
  <form #contactForm="ngForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
        <label for="firstName">Email</label>
        <input  required [(ngModel)]="Email" ngModel name="email" type="email" #email="ngModel" class="form-control" id="email">
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors?.required"> EMail is required.</div>
        </div>
    </div>

    <button class="btn text-light btn-success" type="submit" [class.disabled]="!contactForm.valid">Reset Password</button>
    <button class="btn text-light btn-dark ml-4" type="button">Cancle</button>
  </form>
</div>

