<div class="container">
    <div *ngFor="let data of dataList; index as i" class="row card">
        <!-- <div *ngFor="let data of dataList"> -->
        <div class="col col-4 ">
            <div class="card-img">
                <img src="{{data.productImage}}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col col-6 ">
            <div class="card-text">
                <h3>{{data.productName}}</h3>
                <p>{{data.productDesc}}</p>
            </div>
            <div>
                <i (click)="deleteProduct(data._id,i)" style='font-size:24px' class='fas'>&#xf1f8;</i>
                <a routerLink="update-product/{{data._id}}"><i style='font-size:24px' class='fas'>&#xf303;</i></a>
            </div>                                                                                                                                    
        </div>

        <!-- <div class="card-img">
                <img src="{{data.productImage}}" alt="">
            </div>
            <div class="card-text">
                <h3>{{data.productName}}</h3>
                <p>{{data.productDesc}}</p>
            </div>
            <div>
                <i style='font-size:24px' class='fas'>&#xf1f8;</i>
                <a routerLink="update-product/{{data._id}}"><i style='font-size:24px' class='fas'>&#xf303;</i></a>
            </div>  -->
        <!-- </div> -->
    </div>
    <!-- <div class="col-md-12">
            <div class="card card-2">
                <h3>UI Components</h3>
                <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library of mobile UI components, ready to go.</p>

            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-3">
                <h3>Theming</h3>
                <p>Learn how to easily customize and modify your app’s design to fit your brand across all mobile platform styles.</p>
            </div>
        </div> -->
</div>
