<div class="container mt-5">
    <form>
        <div class="mb-3">

            <label for="username">categoryName</label>
            <input type="text" class="form-control" placeholder="enter categoryName" name="categoryName" [(ngModel)]="categoryName">
        </div>

        <div class="mb-3">

            <label for="image">categoryImage</label>
            <input type="file" class="form-control" placeholder="enter categoryImage" name="categoryImage"
                (change)=selectImage($event);>
        </div>
        <button (click)="addcategory()" type="Submit" class="btn btn-danger">submit</button>
    </form>
</div>
