.img {
    height: 600px;
}

.text-box {
    width: 90%;
    color: rgb(248, 247, 247);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.first{
    font-size: 15vh;
    text-shadow: 1px 2px 2px #000000;
    border-radius: 5vh;
    border: 3px dotted black;
    /* margin-top: -50vh; */
}
.second{
  border-radius: 9vh;
  border: 3px solid white;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(253, 253, 253);
}
