<p>revert-complaint works!</p>
<div class="container padd">
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <h1 class="text-center font">𝔹𝕀𝔻ℍ𝕆𝕌𝕊𝔼</h1>
        <label for="" class="font-weight-bold mt-5 revert">Revert Message</label>
        <input type="text" placeholder="Write something to customer" class="form-control mt-4 lena" [(ngModel)]="revertMessage">
        <button class="button-57 mt-5 btn" (click)="sendRevert()" role="button"><span class="text">Revert</span><span>BID_HOUSE</span></button>
      </div>
    </div>
  </div>
</div>
